body {
	background-color: #F8FBFD;
    margin: 0;
    padding: 0;

	color: #333333;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 100%;
    line-height: 1.4;
}

.title h1 {
    float: left;
    font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",Georgia;
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 8px 4px 10px 0;
}

.title h1 a {
	color: #333;
}

.title h1 .logo_box_nerd_shit {
    border: 6px solid #333333;
    display: inline-block;
    height: 28px;
    margin-right: 17px;
    width: 28px;
}

.title h1 .logo_box_nerd_shit:hover {
	background: url("/images/home_link_small.png") no-repeat scroll 0 -7px transparent;
}

.title h1 .logo_box_nerd_shit .even_nerdier_shit {
    border-left: 6px solid #F8FBFD;
    border-right: 6px solid #F8FBFD;
    height: 8px;
    left: -6px;
    position: relative;
    top: 10px;
    width: 28px;
}

.nav_right_side {
    padding: 0 5px 1em;
    width: 950px;
}

.header_nav {
    position: absolute;
    right: 10px;
    top: -8px;

    float: right;
    margin: 0;
    width: 350px;
}

.header_nav a {
	background-color: #0056F9;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #F8FBFD;
    display: block;
    font-size: 16px;
    font-weight: bold;
	text-align: center;
    padding: 12px 0;
    width: 190px;
}

.wrap_all {
	margin: 0 auto;
	padding: 0 20px;
	width: 960px;
}

a {
    color: #0059F6;
    outline: medium none;
    text-decoration: none;
}

.helper_below {
    color: #999999;
    font-size: 0.75em;
    font-style: italic;
    margin-top: -22px;
}

div.clear {
	clear: both;
	height: 1%;
}

input {
    font-family: Helvetica,Arial,sans-serif;
}

input[type="submit"], input[type="button"] {
    background-color: #0059F6;
    border: 0 none;
    border-radius: 44px;
    color: #F8FBFD;
    cursor: pointer;
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0;
    min-width: 222px;
    padding: 27px 44px 21px;
    text-align: center;
}

label {
	font-weight: bold;
}

.field_with_errors input {
	border-color: red;
}

.field_with_errors label {
	color: red;
}

#error_explanation {
	float: right;
	width: 450px;
	background-color: yellow;
	padding: 20px;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    color: #999999;
    display: inline-block;
    font-family: inherit;
    font-size: 2.25em;
    line-height: 1.2;
    margin-bottom: 24px;
	margin-right: 24px;
    max-width: 630px;
    padding: 2px;
}

input[type="checkbox"] {
    -moz-transform: scale(1.8, 1.8);
    display: inline-block;
    margin: 10px 10px 14px 6px;
    vertical-align: middle;
}

.checkbox_container {
	margin-top: 20px;
}

ul li {
	list-style: none;
	margin: 10px;
}

ul li .feed_title {
	font-size: 1.2em;
	font-style: bold;
}

dl {
	margin: 30px;
}

dl dt h3 {
	margin-bottom: 3px;
}

dl dt a {
	color: #333;
}

dl dd {
	margin-left: 5px;
}

dl dd .feed_item_info {
	color: #999;
	font-size: 12px;
}